body {
	margin: 0;
}
h1 {
	font-size: 45px;
	/* color: greenyellow; */
	text-align: center;
	border-bottom: 2px black solid;
	padding: 20px;
	margin: 0;
}
a {
	text-decoration: none;
}
#grid ol {
	border-right: 1px black solid;
	width: 130px;
	margin: 0;
	padding-top: 20px;

	list-style-type: upper-roman;
	font-size: 20px;
}
#grid {
	display: grid;
	grid-template-columns: 180px 2fr;
}
#article {
	padding-left: 10px;
	padding-right: 20px;
}
@media (max-width: 700px) {
	#grid {
		display: block;
	}
	#grid ol {
		border-right: none;
	}
	h1 {
		border-bottom: none;
	}
}
