/* test.html css */

img {
	border: 3px solid green;
}
.original {
}
/* .a {
	width: 100px;
	height: 500px;
} */
.b {
	width: 700px;
	height: 100px;
}
img {
	width: 200px;
	height: 200px;
}
.c {
	width: 200px;
	height: 200px;
}
